/*---------- example css ----------*/
.c-title {
  background: url('/images/bg_h3_line.jpg') repeat-x scroll left center rgba(0, 0, 0, 0);
  height: 60px;
  text-align: center;
  width: 100%;
  h2 {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    span {
      z-index: 99;
      line-height: 4rem;
      background-color: #fdfcf0;
      text-align: center;
      text-transform: uppercase;
    }
  }
}

.swiper {
  .swiper-button-prev, .swiper-button-next {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    color: $color-white;
  }
  .swiper-button-prev {
    margin-left: 20px;
  }
  .swiper-button-next {
    margin-right: 20px;
  }
  .swiper-pagination {
    .swiper-pagination-bullet {
      background-color: rgba(255,255,255,.5);
      width: 30px;
      height: 3px;
      position: relative;
      @include border-radius(0);
    }
    .swiper-pagination-bullet-active {
      background-color: $color-white;
    }
  }
}
.btn-primary {
  &:hover, &:active, &:focus {
    background-color: $color-primary !important;
    border-color: $color-primary !important;
    box-shadow: none  !important;
  }
}
.btn-secondary {
  &:hover, &:active, &:focus {
    background-color: $color-secondary !important;
    border-color: $color-secondary  !important;
    box-shadow: none  !important;
  }
}
//example responsive css
@media (min-width: $screen-sm-min) {
  //mobile lanscape
}
@media (min-width: $screen-md-min) {
  //ipad portrait
}
@media (min-width: $screen-lg-min) {
  //ipad lanscape & pc 1024x768px
}
@media (min-width: $screen-xl-min) {
  //pc & mac 1280px grow up
}
@media (min-width: 1440px) {
  //pc & mac 1440px grow up
}
@media (min-width: 1900px) {
  //pc & mac 1900px grow up
}
//end example responsive css
/*---------- end example css ----------*/
