/*---------- example css ----------*/
.c-title-hid {
  @include excerpt(1.2, 2);
}
.c-voucher-loadmore {
  color: $color-secondary !important;
  cursor: pointer;
  display: block;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
}
.c-link-modal {
  text-decoration: none;
  color: $color-secondary;
  font-weight: 700;
}
.m-filter-search {
  position: fixed;
  top: 90px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 98 !important;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(85, 85, 85, 0.1)),
    to(rgba(85, 85, 85, 0.01))
  ) !important;
  background: -webkit-linear-gradient(top, rgba(85, 85, 85, 0.1), rgba(85, 85, 85, 0.01)) !important;
  background: linear-gradient(180deg, rgba(85, 85, 85, 0.1), rgba(85, 85, 85, 0.01)) !important;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 5px 10px rgba(92, 103, 153, 0.2) !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 5px 10px rgba(92, 103, 153, 0.2) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  backdrop-filter: blur(10px) !important;
  background-position: 50% !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.modal-backdrop.show {
  opacity: 1;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(85, 85, 85, 0.1)),
    to(rgba(85, 85, 85, 0.01))
  ) !important;
  background: -webkit-linear-gradient(top, rgba(85, 85, 85, 0.1), rgba(85, 85, 85, 0.01)) !important;
  background: linear-gradient(180deg, rgba(85, 85, 85, 0.1), rgba(85, 85, 85, 0.01)) !important;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 5px 10px rgba(92, 103, 153, 0.2) !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 5px 10px rgba(92, 103, 153, 0.2) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  backdrop-filter: blur(10px) !important;
  background-position: 50% !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.c-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 22px;
}

.c-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.c-cslider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.c-cslider:before {
  position: absolute;
  content: '';
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .c-cslider {
  background-color: $color-secondary;
}

input:focus + .c-cslider {
  box-shadow: 0 0 1px $color-secondary;
}

input:checked + .c-cslider:before {
  -webkit-transform: translateX(37px);
  -ms-transform: translateX(37px);
  transform: translateX(37px);
}

/* Rounded sliders */
.c-cslider.round {
  border-radius: 34px;
}

.c-cslider.round:before {
  border-radius: 50%;
}

.is-white {
  color: $color-white !important;
}
.d-breadcrumb-voucher {
  background: $color-white;
}
.is-remove-border {
  border-bottom: none !important;
}
.is-remove-paddingbottom {
  padding-bottom: 0 !important;
}
.m-body {
  background: $color-white;
  min-height: 100vh;
  font-family: $font-sour;
  position: relative;
  z-index: 1;
  &.is-bgbody-white {
    background: $color-white;
  }
}
.d-body {
  min-height: calc(100% - 125px);
  font-family: $font-roboto;
}
.d-content {
  min-height: calc(100vh - 154px);
}
.form-group {
  &.is-dropdown-nav {
    position: relative;
    z-index: 1;
    &:before {
      content: '';
      position: absolute;
      z-index: 2;
      top: 50%;
      margin-top: -4px;
      right: 10px;
      pointer-events: none;
      background-image: url('/images/dropdown-nav.png');
      width: 14px;
      height: 7px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .form-control {
      padding-right: 60px;
      &.active {
        color: $color-black !important;
      }
    }
  }
}
.m-modal-charity {
  &.is-error {
    .m-modal-charity__btn {
      display: flex;
      justify-content: center;
    }
  }
  &.is-maxwidth {
    .modal-content {
      max-width: 613px;
      margin: auto;
    }
  }
}
.m-modaltitle {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.m-modalbody {
  margin-bottom: 35px;
}
.md-breadcrumb {
  padding: 20px 0 15px 0;
  border-bottom: 1px solid #e2e2e2;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      margin-right: 20px;
      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        &:hover {
          span {
            color: $color-secondary;
          }
        }
      }
      span {
        font-size: 16px;
        color: $color-primary;
        display: inline-block;
        @include transition-default;
      }
      img {
        width: 10px;
      }
      &:first-child {
        span {
          margin-right: 15px;
        }
      }
    }
  }
}
.c-component-tab {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    li {
      padding: 13px 0 10px;
      width: percentage(1/3);
      text-align: center;
      margin-bottom: 15px;
      cursor: pointer;
      &.active {
        border-bottom: 1px solid $color-secondary;
      }
    }
  }
}
.lds-spinner {
  color: $color-secondary;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: auto;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: $color-secondary;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.c-loadingcs {
  text-align: center;
}
.c-pointlogo {
  width: 20px;
  height: 20px;
  // border: 2px solid #ee0033;
  border: 2px solid $color-mb-red;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  @include border-radius(50%);
  font-weight: 700;
  margin-left: 2px;
  // color: #ee0033 !important;
  color: $color-mb-red !important;
  text-align: center;
  font-size: 13px !important;
}
.color-filter-image {
  filter: invert(10%) sepia(94%) saturate(7046%) hue-rotate(241deg) brightness(83%) contrast(97%);
}
.color-filter-image-footer {
  filter: invert(29%) sepia(82%) saturate(3889%) hue-rotate(335deg) brightness(95%) contrast(94%);
}
.height-full-screen {
  height: 100vh;
}
//example responsive css
@media (min-width: $screen-sm-min) {
  //mobile lanscape
  .m-filter-search {
    top: 80px;
  }
}
@media (min-width: $screen-md-min) {
  //ipad portrait
  .c-pointlogo {
    margin-left: 5px;
  }
}
@media (min-width: $screen-lg-min) {
  //ipad lanscape & pc 1024x768px
  .c-title-hid {
    @include excerpt(1.2, 3);
  }
  .m-modal-charity {
    &.is-error,
    &.is-qa {
      .modal-content {
        padding: 50px 0;
      }
    }
    &.is-detail {
      .modal-dialog {
        max-width: 500px !important;
        width: 500px !important;
      }
    }
  }
  .c-component-tab {
    width: 50%;
  }
  .form-group {
    &.is-dropdown-nav {
      .form-control {
        height: 59px;
        font-size: 20px;
        // &.active {
        //   color: $color-black !important;
        // }
      }
    }
  }
}
@media (min-width: $screen-xl-min) {
  //pc & mac 1280px grow up
  .m-modaltitle {
    margin-bottom: 25px;
    font-size: 40px;
    font-weight: 700;
  }
}
@media (min-width: 1440px) {
  //pc & mac 1440px grow up
}
@media (min-width: 1900px) {
  //pc & mac 1900px grow up
}
//end example responsive css
/*---------- end example css ----------*/
