/*---------- example css ----------*/
.m-home-banner {
  margin-top: 25px;
  &__list {
    margin-bottom: 25px;
    a {
      display: block;
    }
    img {
      width: 100%;
    }
    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      @include transition-default;
      transform: scale(0.95);
      opacity: 0.5;
      &.swiper-slide-active {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
  &__menu {
    ul {
      margin: 0 -5px;
      padding: 0;
      list-style: none;
      li {
        margin-bottom: 10px;
        width: percentage(1/3);
        float: left;
        padding: 0 5px;
        a {
          background: #2a282f;
          @include border-radius(7px);
          text-decoration: none;
          display: block;
          padding-top: 100%;
          text-align: center;
          position: relative;
          z-index: 1;
          div {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
          }
          i {
            display: block;
            margin: 0 auto 10px auto;
            width: 27px;
            height: 30px;
            img {
              width: 27px;
            }
          }
          span {
            color: $color-white;
            font-size: 11px;
            display: block;
            text-align: center;
            height: 27px;
            line-height: 1.3;
          }
        }
      }
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: $color-white;
    background: $color-secondary;
    width: 24px;
    height: 24px;
    @include border-radius(50%);
    @include box-shadow(5px 5px 20px rgba($color-secondary, 0.5));
    font-weight: 700;
    &:after {
      font-size: 14px;
    }
  }
  .swiper-button-next {
    right: 10px;
  }
  .swiper-button-prev {
    left: 10px;
  }
  .swiper-pagination-bullet {
    background: $color-white;
  }
  .swiper-pagination-bullet-active {
    background: $color-secondary;
  }
}
//example responsive css
@media (min-width: $screen-sm-min) {
  //mobile lanscape
  .m-home-banner {
    &__menu {
      ul {
        li {
          a {
            span {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
@media (min-width: $screen-md-min) {
  //ipad portrait
}
@media (min-width: $screen-lg-min) {
  //ipad lanscape & pc 1024x768px
}
@media (min-width: 1440px) {
  //pc & mac 1440px grow up
}
@media (min-width: 1900px) {
  //pc & mac 1900px grow up
}
//end example responsive css
/*---------- end example css ----------*/
