/*---------- example css ----------*/
.m-box-pay {
  background: #e6e6e6;
  border-radius: 20px;
  width: 100%;
  max-width: 353px;
  padding: 20px;
  margin: auto;
  font-family: $font-sour;
  text-align: center;
  margin-top: 10px;
  &__title {
    font-size: 15px;
  }
  &__barcode {
    margin: 5px 0px;
    &__text {
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        display: inline-block;
        font-size: 14px;
        &:nth-child(1) {
          letter-spacing: 5px;
        }
        &:nth-child(2) {
          color: #1b20e8;
        }
      }
      .m-full-barcode {
        white-space: nowrap;
        width: 0px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    // svg{
    //     rect{
    //         height: 60px;
    //     }
    // }
  }
  &__qrcode {
    margin-top: 20px;
    span {
      margin-top: 20px;
      display: block;
      font-size: 18px;
    }
  }
  &__bot {
    margin-top: 20px;
    text-align: left;
    &__bot {
      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
        font-size: 18px;
        color: $color-secondary;
        font-weight: 600;
      }
    }
  }
}
//example responsive css
@media (min-width: $screen-sm-min) {
  //mobile lanscape
  .m-box-pay {
    &__title {
      font-size: 18px;
    }
  }
}

@media (min-width: $screen-md-min) {
  //ipad portrait
}

@media (min-width: $screen-lg-min) {
  //ipad lanscape & pc 1024x768px
}

@media (min-width: $screen-xl-min) {
  //pc & mac 1280px grow up
}

//end example responsive css
/*---------- end example css ----------*/
