/*---------- example css ----------*/
.md-payment-online {
  margin-top: 30px;
  padding: 27px 0;
  background: $color-white;
  @include border-radius(20px);
  &__title {
    padding-bottom: 20px;
    font-size: 16px;
    text-align: center;
    color: $color-secondary;
    font-weight: 700;
    border-bottom: 1px solid #f5f5f5;
  }
  &__box {
    img,
    iframe {
      width: 100%;
    }
  }
}
//example responsive css
@media (min-width: $screen-sm-min) {
  //mobile lanscape
}
@media (min-width: $screen-md-min) {
  //ipad portrait
}
@media (min-width: $screen-lg-min) {
  //ipad lanscape & pc 1024x768px
  .md-payment-online {
    max-width: none;
    width: 80%;
    margin: 70px auto 70px auto;
    padding: 30px 0;
    background: $color-white;
    @include border-radius(10px);
    @include box-shadow(0 0 22px rgba($color-black, 0.22));
    &__title {
      padding-bottom: 14px;
      font-size: 20px;
      color: $color-black;
      border-bottom: 1px solid #d9d9d9;
    }
  }
}
@media (min-width: $screen-xl-min) {
  //pc & mac 1280px grow up
}
@media (min-width: 1440px) {
  //pc & mac 1440px grow up
}
@media (min-width: 1900px) {
  //pc & mac 1900px grow up
}
//end example responsive css
/*---------- end example css ----------*/
