/*---------- example css ----------*/
.m-moblie-swapgift {
  font-family: $font-sour;
  &__title {
    display: flex;
    align-items: center;
    .is-title {
      padding: 13px 0 10px;
      width: 50%;
      text-align: center;
      border-bottom: 1px solid transparent;
      span {
        color: $color-black;
      }
    }
    .is-active {
      // border-bottom: 1px solid #ee0033;
      border-bottom: 1px solid $color-secondary;
      span {
        color: $color-secondary;
      }
    }
  }
  &__scroll {
    position: relative;
    z-index: 1;
    .m-fix-border {
      // overflow-x: scroll;P_
      display: flex;
      align-items: center;
      padding: 20px 0;
      .is-ico {
        text-align: center;
        // img {
        //   margin: 0 13px;
        // }
        img {
          filter: invert(10%) sepia(94%) saturate(7046%) hue-rotate(241deg) brightness(83%) contrast(97%);
          width: 48px;
          height: 48px;
          border: 1px solid $color-secondary;
          @include border-radius(10px);
        }
        span {
          font-size: 12px;
          color: $color-black;
          margin-top: 5px;
          display: block;
          font-weight: 600;
          @include excerpt(1.2, 2);
        }
        &.active {
          img {
            // filter: none;
            // border: 1px solid #ee0033;
            border: 1px solid $color-secondary;
            filter: invert(26%) sepia(94%) saturate(3888%) hue-rotate(337deg) brightness(97%) contrast(90%);
          }
        }
      }
      &.is-product {
        .is-ico {
          img {
            padding: 8px;
          }
        }
      }
    }
    &::before {
      position: absolute;
      z-index: 2;
      content: '';
      left: 10px;
      right: 10px;
      bottom: 0;
      height: 1px;
      background: $color-bg3;
    }
  }
  &__tab {
    position: relative;
    z-index: 9;
    ul {
      list-style: none;
      padding: 13px 8px;
      margin: 0;
      li {
        width: percentage(1/3);
        float: left;
        padding: 0px 4px;
        .is-tab {
          display: flex;
          align-items: center;
          justify-content: center;
          background: $color-bg3;
          height: 28px;
          border-radius: 5px;
          padding: 18px 0;
          line-height: 1.2;
          text-align: center;
          span {
            font-size: 12px;
            color: $color-black;
          }
          img {
            margin-left: 5px;
          }
        }
        .is-active {
          // background: #ee0033;
          background: $color-secondary;
          span {
            color: $color-white;
          }
        }
        &:last-child {
          position: relative;
          z-index: 1;
          // float: right;
          .m-table-point {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            z-index: 2;
            min-width: 215px;
            right: 4px;
            top: 27px;
            background: $color-bg3;
            padding: 0 23px;
            text-align: right;
            @include border-radius(6px 0 6px 6px);
            span {
              color: $color-black;
              font-size: 12px;
              padding: 8px 0;
              display: block;
              position: relative;
              z-index: 1;
              text-decoration: none;
              &::before {
                position: absolute;
                z-index: 2;
                bottom: 0;
                left: 10px;
                right: 10px;
                height: 1px;
                background: #454545;
                content: '';
              }
              &:last-child {
                &::before {
                  display: none;
                }
              }
              &.active {
                color: $color-secondary;
              }
            }
          }
          &.active {
            .m-table-point {
              opacity: 1;
              visibility: visible;
              transition: 0.5s;
            }
          }
        }
      }
    }
  }
  &__product {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        width: 100%;
        margin-bottom: 10px;
        position: relative;
        z-index: 1;
        .is-btn-doiqua {
          position: absolute;
          z-index: 2;
          bottom: 10px;
          right: 10px;
          background: $color-secondary;
          border: 1px solid $color-secondary;
          @include border-radius(5px);
          font-weight: 600;
          font-size: 14px;
          width: 85px;
          height: 33px;
          color: $color-white;
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        a {
          text-decoration: none;
        }
        .is-product {
          background: $color-bg3;
          padding: 13px;
          display: flex;
          align-items: center;
          &__img {
            width: 37%;
            @include border-radius(8px);
            overflow: hidden;
            position: relative;
            z-index: 1;
            &__outer {
              padding-top: percentage(57/109);
              position: relative;
              z-index: 1;
              img {
                position: absolute;
                z-index: 2;
                top: 50%;
                left: 0;
                width: 100%;
                @include transform(translateY(-50%));
              }
            }
            &__flag {
              position: absolute;
              top: 0;
              left: 0;
              z-index: 2;
              // width: 35px;
              // height: 19px;
              display: block;
              background-color: $color-mb-red;
              border-radius: 0 0 10px 0;
              span {
                font-size: 12px;
                padding: 5px;
                color: $color-white;
                display: block;
              }
            }
          }
          &__info {
            span {
              color: $color-black;
            }
            width: 63%;
            padding-left: 15px;
            &__title {
              display: flex;
              align-items: center;
              justify-content: space-between;
              span {
                width: calc(100% - 45px);
              }
              img {
                @include border-radius(50%);
                overflow: hidden;
                width: 36px;
                height: 36px;
              }
            }
            &__content {
              font-size: 12px;
              line-height: 1.3;
            }
            &__viettelpercent {
              margin-top: 8px;
              font-size: 12px;
              b {
                font-weight: 500;
                color: $color-secondary;
              }
            }
            &__point {
              margin-top: 3px;
              span {
                font-size: 12px;
              }
              b {
                color: $color-secondary;
                text-decoration: none;
                font-size: 12px;
              }
              .c-pointlogo {
                margin-left: 3px;
              }
            }
          }
        }
      }
    }
  }
}
.m-swap-now-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  input {
    width: 2em;
    height: 2em;
    margin-right: 10px;
    margin-top: 0;
    &:checked {
      background-color: $color-secondary;
      border-color: $color-secondary;
    }
    &:focus {
      border-color: none;
      outline: 0;
      @include box-shadow(none);
    }
  }
}
//example responsive css
@media (min-width: $screen-sm-min) {
  //mobile lanscape
}

@media (min-width: $screen-md-min) {
  //ipad portrait
}

@media (min-width: $screen-lg-min) {
  //ipad lanscape & pc 1024x768px
}

@media (min-width: $screen-xl-min) {
  //pc & mac 1280px grow up
}

//end example responsive css
/*---------- end example css ----------*/
