/*---------- base css ----------*/
body {
  background: #fdfcf0;
  font-family: $font-site;
  font-size: $font-size-xs;
  // line-height: 1;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $font-site;
}
a {
  text-decoration: none;
  color: #333;
}
a:focus {
  outline: none;
}
/*---------- end base css ----------*/
